<% title('Contact Us') %>

<% form_for(@contact_form, :url => contact_path) do |form| %>
  <%= form.error_messages(:header_message => nil) %>
  <table class="striped">
    <tfoot>
      <tr>
        <th></th>
        <td><%= submit_tag('Submit Your Message') %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="odd">
        <th><%= form.label(:name) %></th>
        <td><%= form.text_field(:name, { :value => self.current_user.try(:name) }) %></td>
      </tr>
      <tr class="even">
        <th><%= form.label(:email) %></th>
        <td><%= form.text_field(:email, { :value => self.current_user.try(:email) }) %></td>
      </tr>
      <tr class="odd">
        <th><%= form.label(:subject) %></th>
        <td>
          <%= form.text_field(:subject) %>
          ( <%= form.check_box(:bug) %> <small><%= form.label(:bug, 'I think I found a bug!') %></small> )
        </td>
      </tr>
      <tr class="even last">
        <th>
          <%= form.label(:message) %>
          <span>(required)</span>
        </th>
        <td><%= form.text_area(:message, { :rows => 10, :cols => 30 }) %></td>
      </tr>
    </tbody>
  </table>
<% end %>