<% title('Edit Your Book') %>

<p>
  We managed to fill in most of the information for your book. All that's left for you to do is fill
  in a few more details and pick an asking price.
</p>

<% error_messages_for(:book, :post) %>

<% form_for(:post, :url => posts_path) do |form| %>
  <table class="striped">
    <tfoot>
      <tr>
        <th></th>
        <td><%= form.submit('Post') %></td>
      </tr>
    </tfoot>
    <tbody>
      <% fields_for(:book) do |book| %>
        <tr class="odd">
          <th>ISBN</th>
          <td>
            <%= book.hidden_field(:isbn) %>
            <%= h(@book.try(:isbn_with_formatting)) %>
          </td>
        </tr>
        <tr class="even">
          <th>Title</th>
          <td><%= h(truncate(@book.title)) %></td>
        </tr>
        <tr class="odd">
          <th><%= @book.author_label_text %></th>
          <td><%= @book.try(:authors_with_formatting) %></td>
        </tr>
      <% end %>
      <tr class="even">
        <th>
          <%= label(:post, :edition) %>
          <span>(optional)</span>
        </th>
        <td>
          <%= form.text_field(:edition) %>
          <%= error_message_on(:post, :edition, 'Edition ', '.') %>
        </td>
      </tr>
      <tr class="odd">
        <th><%= label(:post, :condition_id) %></th>
        <td><%= form.select(:condition_id, Constants::CONDITION) %></td>
      </tr>
      <tr class="even last">
        <th><%= label(:post, :price) %></th>
        <td>
          <%= form.text_field(:price) %>
          <%= error_message_on(:post, :price, 'Price ', '.') %>
          <%= render(:partial => 'posts/price_help', :locals => { :book => @book }) %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>