<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Book Connection <%= yield :title %></title>
    <%= stylesheet_link_tag('reset', 'test') %>
    <%= javascript_include_tag('prototype', 'effects', 'application') %>
  </head>
<body>

<div id="wrapper">
  <div id="navigation" class="clearfix">
    <h1>
      <a href="<%= root_path %>">
        <!--[if gt IE 6]><img alt="" src="/books/images/logo.png" width="50" /><![endif]-->
        Book Connection
      </a>
    </h1>
    <ul>
      <%= link_for('Buy Books', 'buy', books_path) %>
      <%= link_for('Sell Books', 'view', posts_path) %>
    </ul>
  </div>
  <div id="header-wrapper">
    <div id="header">
      <%= yield :header %>
      <%= account_menu %>
    </div>
  </div>
  <%= render(:partial => 'shared/flash', :locals => { :flash => flash }) %>
  <div id="body-wrapper">
    <div id="body">
      <%= yield :layout %>
    </div>
  </div>
  <div id="footer">
    <div>
      <%= link_to('About Us', about_path) %> |
      <%= link_to('Privacy Policy', privacy_path) %> |
      <%= link_to('Contact Us', contact_path) %> |
      <%= link_to('Your Account', account_path) %>
    </div>
  </div>
</div>

</body>
</html>
