<% title('Your Account') %>

<% error_messages_for(:user) %>

<h3>Update Your Contact Info</h3>

<% form_for(:user, :url => account_path, :html => { :method => :put }) do |form| %>
  <table class="striped">
    <tfoot>
      <tr>
        <th></th>
        <td><%= form.submit('Update Contact Info', { :id => 'contact_info_submit'}) %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="odd">
        <th><%= form.label(:first_name) %></th>
        <td>
          <%= form.text_field(:first_name) %>
          <%= error_message_on(:user, :first_name, :prepend_text => 'First name ') %>
        </td>
      </tr>
      <tr class="even">
        <th><%= form.label(:last_name) %></th>
        <td>
          <%= form.text_field(:last_name) %>
          <%= error_message_on(:user, :last_name, :prepend_text => 'Last name ') %>
        </td>
      </tr>
      <tr class="odd">
        <th><%= form.label(:alumni, 'Email') %></th>
        <td>
          <%= @user.username %>
          <%= form.hidden_field(:username) %>
          <%= form.select(:alumni, [['@students.calvin.edu', 0 ], [ '@alumni.calvin.edu', 1 ]]) %>
        </td>
      </tr>
      <tr class="even">
        <th>
          <%= form.label(:alternate_email) %>
          <span>(optional)</span>
        </th>
        <td>
          <%= form.text_field(:alternate_email) %>
          <%= error_message_on(:user, :alternate_email, :prepend_text => 'Alternate email ') %>
          <em style="margin-top: 5px; display: block;">
            If this is set, we will use it instead of your Calvin email when contacting you. Due
            to recent changes in Calvin's mail system. Alumni should specify an alternate email.
          </em>
        </td>
      </tr>
      <tr class="odd last">
        <th>
          <%= form.label(:phone) %>
          <span>(optional)</span>
        </th>
        <td>
          <%= form.text_field(:phone) %>
          <%= error_message_on(:user, :phone, :prepend_text => 'Phone number ') %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<h3>Change Your Password</h3>

<% form_for(:user, :url => account_path, :html => { :method => :put }) do |form| %>
  <table class="striped">
    <tfoot>
      <tr>
        <th></th>
        <td><%= form.submit('Change Password', { :id => 'password_submit' }) %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="odd">
        <th><%= form.label(:password) %></th>
        <td>
          <%= form.password_field(:password) %>
          <%= text_or_error_message_on('<em>(must be at least 4 characters long)</em>', :user, :password, :prepend_text => 'Password ') %>
        </td>
      </tr>
      <tr class="even last">
        <th><%= form.label(:password_confirmation, 'Confirm') %></th>
        <td>
          <%= form.password_field(:password_confirmation) %>
          <%= error_message_on(:user, :password_confirmation, :prepend_text =>  'Confirmation ') %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>