<% title('Your Account') %>

<h3>Update Your Contact Info</h3>

<%= error_messages_for(:user, :header_message => nil) %>

<% form_for(:user, :url => account_path, :html => { :method => :put }) do |form| %>
  <table class="striped">
    <tfoot>
      <tr>
        <th></th>
        <td><%= form.submit('Update Contact Info', { :id => 'contact_info_submit'}) %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="odd">
        <th><%= form.label(:first_name) %></th>
        <td><%= form.text_field(:first_name) %></td>
      </tr>
      <tr class="even">
        <th><%= form.label(:last_name) %></th>
        <td><%= form.text_field(:last_name) %></td>
      </tr>
      <tr class="odd">
        <th><%= form.label(:alumni, 'Email') %></th>
        <td>
          <%= form.text_field(:username, :disabled => true) %>
          <%= form.select(:alumni, Constants::EMAIL_SELECT) %>
        </td>
      </tr>
      <tr class="even">
        <th>
          <%= form.label(:alternate_email) %>
          <span>(optional)</span>
        </th>
        <td>
          <%= form.text_field(:alternate_email) %>
          <em style="margin-top: 5px; display: block;">
            If this is set, we will use it instead of your Calvin email when contacting you. Due
            to recent changes in Calvin's mail system. Alumni should specify an alternate email.
          </em>
        </td>
      </tr>
      <tr class="odd last">
        <th>
          <%= form.label(:phone) %>
          <span>(optional)</span>
        </th>
        <td><%= form.text_field(:phone) %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<h3>Change Your Password</h3>

<% form_for(:user, :url => account_path, :html => { :method => :put }) do |form| %>
  <table class="striped">
    <tfoot>
      <tr>
        <th></th>
        <td><%= form.submit('Change Password', { :id => 'password_submit' }) %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="odd">
        <th><%= form.label(:password) %></th>
        <td>
          <%= form.password_field(:password) %>
          <em>(must be at least 4 characters long)</em>
        </td>
      </tr>
      <tr class="even last">
        <th><%= form.label(:password_confirmation, 'Confirm') %></th>
        <td><%= form.password_field(:password_confirmation) %></td>
      </tr>
    </tbody>
  </table>
<% end %>