<% title('Register') %>

<p>
  You need a Calvin webmail address to create an account on the Book Connection. Fill in your info,
  and we'll send you an activation code.
</p>

<% form_for(:user, :url => account_path) do |form| %>
  <%= form.error_messages(:header_message => nil) %>
  <table class="striped">
    <tfoot>
      <tr>
        <th></th>
        <td><%= form.submit('Create Account') %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="odd">
        <th><%= form.label(:first_name) %></th>
        <td><%= form.text_field(:first_name) %></td>
      </tr>
      <tr class="even">
        <th><%= form.label(:last_name) %></th>
        <td><%= form.text_field(:last_name) %></td>
      </tr>
      <tr class="odd">
        <th><%= form.label(:username) %></th>
        <td>
          <%= form.text_field(:username) %>
          <%= form.select(:alumni, Constants::EMAIL_SELECT) %>
        </td>
      </tr>
      <tr class="even">
        <th>
          <%= form.label(:phone) %>
          <span>(optional)</span>
        </th>
        <td><%= form.text_field(:phone) %></td>
      </tr>
      <tr class="odd">
        <th><%= form.label(:password) %></th>
        <td>
          <%= form.password_field(:password) %>
          <em>(must be at least 4 characters long)</em>
        </td>
      </tr>
      <tr class="even last">
        <th><%= form.label(:password_confirmation, 'Confirm') %></th>
        <td><%= form.password_field(:password_confirmation) %></td>
      </tr>
    </tbody>
  </table>
<% end %>